In [4]:
#Q1:-
import regex as re
target_string='Python Exercises, PHP exercises.'
x=re.sub(r"[ , .]",":",target_string)
print(x)

Python:Exercises::PHP:exercises:

In [4]:
#Q2:-
import pandas as pd
import regex as re
item={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(item)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [8]:
#Q3:-
str1="""Chandrayaan-3 is the third mission in the Chandrayaan programme, a series of lunar-exploration missions 
developed by the Indian Space Research Organisation. The mission consists of a lunar 
lander named Vikram and a lunar rover named Pragyan, similar to those launched aboard Chandrayaan-2 in 2019."""
string_pattern=r"\w{4,}"
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(str1)
print(result)

['Chandrayaan', 'third', 'mission', 'Chandrayaan', 'programme', 'series', 'lunar', 'exploration', 'missions', 'developed', 'Indian', 'Space', 'Research', 'Organisation', 'mission', 'consists', 'lunar', 'lander', 'named', 'Vikram', 'lunar', 'rover', 'named', 'Pragyan', 'similar', 'those', 'launched', 'aboard', 'Chandrayaan', '2019']

In [11]:
#Q4:-
str1="""Jannik Sinner is a Grand Slam champion. The world No.4 clinched the Australian Open 2024 men's singles title in 
stunning fashion, overcoming third seed Daniil Medvedev 3-6 3-6 6-4 6-4 6-3 in three hours and 44 minutes on Sunday night at 
Rod Laver Arena."""
string_pattern=r"\w{3,5}"
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(str1)
print(result)

['Janni', 'Sinne', 'Grand', 'Slam', 'champ', 'ion', 'The', 'world', 'clinc', 'hed', 'the', 'Austr', 'alian', 'Open', '2024', 'men', 'singl', 'title', 'stunn', 'ing', 'fashi', 'overc', 'oming', 'third', 'seed', 'Danii', 'Medve', 'dev', 'three', 'hours', 'and', 'minut', 'Sunda', 'night', 'Rod', 'Laver', 'Arena']

In [21]:
#Q5
import re
def remove_parentheses(strings):
    pattern = re.compile(r"\s*\[()]*")
    modified_strings = []
    for string in strings:
        modified_string = re.sub(pattern,"", string)
        modified_strings.append(modified_string)
        return modified_strings
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)
print(result)

['example (.com)']

In [9]:
#Q6:-
f=open('C:\\Users\\ḥ\\OneDrive\\Desktop\\q6.txt', 'r')
text = f.read()
new_text = re.sub(r"\s*\([^)]*\)", "", text)
print(new_text)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [14]:
#Q7:-
string_pattern="ImportanceOfRegularExpressionsInPython"
result=(re.findall('[A-Z][^A-Z]*',string_pattern))
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [56]:
#Q8:-
def space(str1):
  pattern = r'(\d+)([A-Za-z]+)'
  result=re.sub(pattern, r'\1 \2', text)
  return result
str1="RegularExpression1IsAn2ImportantTopic3InPython"
x=space(text)
print(x)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [11]:
#Q9:-
import re
def insert_spaces(text):
  pattern = r'([A-Za-z])([0-9])'
  result = re.sub(pattern, r'\1\2 ', text)
  result = result.strip()
  return result
sample_text ="RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [19]:
#Q10:-
import pandas as pd
import regex as re
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df.head()

In [44]:
#Q11:-
import re
def matches(str1):
        patterns = '^[a-zA-Z0-9_]*$'
        if re.search(patterns,str1):
                return 'Found a match!'
        else:
                return('Not matched!')

print(matches("IshanGosain__w99"))

Found a match!

In [54]:
#12:-
def num(string, number):
    if string.startswith(str(number)):
        return True
    else:
        return False
str1 = "a232abc"
number1 = 232
print(starts_with_number(str1, number1))

False

In [64]:
#13:-
ip = "192.08.095.198"
x= re.sub('\.[0]*', '.', ip)
print(x)

192.8.95.198

In [44]:
#14:-
import pandas as pd
import regex as re
f=open("C:\\Users\\ḥ\\OneDrive\\Desktop\\sample14.txt", 'r')
text = f.read()
modified_text = re.sub(r'\([^()]*\)', '', text)
with open("C:\\Users\\ḥ\\OneDrive\\Desktop\\sample14.txt") as file:
    file.write(modified_text)

UnsupportedOperation: not writable

In [72]:
#15:-
patterns = [ 'fox', 'dog', 'horse' ]
str1= 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, str1),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [80]:
#Q16:-
pattern = 'fox'
str1= 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, str1)
st = match.start()
en = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, st, en))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [82]:
#Q17:-
str1 = ' C# language, Python language, PHP langauge, Java language'
pattern = 'langauge'
for match in re.findall(pattern, str1):
    print('Found "%s"' % match)

Found "langauge"

In [89]:
#Q18:-
lan = 'C# language, Python language, PHP langauge, Java language'
pattern = 'language'
for match in re.finditer(pattern, lan):
    st = match.start()
    en = match.end()
    print('Found "%s" at %d:%d' % (lan[s:e], st, en))

Found "language" at 3:11
Found "language" at 20:28
Found "language" at 49:57

In [95]:
#Q19:-
def date(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2001-08-10"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",date(dt1))

Original date in YYY-MM-DD Format:  2001-08-10
New date in DD-MM-YYYY Format:  10-08-2001

In [102]:
#Q20:-
def decimal(string):
  pattern = re.compile(r'\d+\.\d{1,2}')
  decimal_numbers = re.findall(pattern, string)
  return decimal_numbers
str1 = "01.12 0132.1322.31875 145.898 3.01 27.25 0.2459"
output = find_decimal_numbers(str1)
print(output)

['01.12', '0132.13', '22.31', '145.89', '3.01', '27.25', '0.24']

In [106]:
#Q21:-
str1= "Sport is commonly defin989ed as an 9897 athletic activity that involves a degree of competition545, such as netball or basketball or cross-country Olympic skiing"

for m in re.finditer("\d+", str1):
    print(m.group(0))
    print("Index position:", m.start())

989
Index position: 23
9897
Index position: 35
545
Index position: 95

In [107]:
#Q22:-
str1='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
number = re.findall('\d+', str1)
number = map(int, number)
print("Max_value:",max(number))

Max_value: 950

In [109]:
#Q23:-
def capspace(str1):
  return re.sub(r"(\w)([A-Z])", r"\1 \2", str1)

print(capspace("RegularExpressionIsAnImportantTopicInPython"))

Regular Expression Is An Important Topic In Python

In [117]:
#Q24:-
def matched(str1):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, str1):
                return 'Found a match!'
        else:
                return('Not matched!')
print(matched("Ishangosain"))

Found a match!

In [126]:
#Q25:-
def duplicates(str1):
  pattern = r'\b(\w+)(\s+\1\b)+'
  result = re.sub(pattern, r'\1', str1)
  return result
str1= "this This is is Ishan Gosain Gosain Hello hello world world "
output = duplicates(str1)
print(output)

this This is Ishan Gosain Hello hello world

In [5]:
#Q26:-
import re
pattern = '[a-zA-Z0-9]$'
def check(string): 
    if(re.search(pattern,str1)):
        print("Accept") 
    else: 
        print("Discard") 
if __name__ == '__main__' : 
    str1 = "ishangosian9@"
    check(string)
    str1 = "ishangosian9"
    check(string)

Discard
Accept

In [6]:
#Q27:-
pattern="#\w+"
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization 
as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
matches=re.findall(pattern,text)
print(matches)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [18]:
#Q28:-
pattern="<U\+\w{4}>"
str1=""""@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization 
    are all different party leaders"""  
y=re.sub(pattern,"",str1)
print(y)

"@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization
    are all different party leaders

In [38]:
#Q29:-
file = open("C:\\Users\\ḥ\\OneDrive\\Desktop\\sample14.txt",'r')
str1= file.read()
matches = re.findall("\d{2}[/-]\d{2}[/-]\d{4}",str1)
print(matches)

['12-09-1992', '15-12-1999']

In [27]:
#Q30:-
def words(string):
    pattern = re.compile(r'\b\w{2,4}\b')
    modified_string = re.sub(pattern, '', string)
    return modified_string
str1 = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output = words(str1)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.