In [1]:
#Q1)In this question you have to scrape data using the filters available on the webpage You have to use the location and 
#salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required. 
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

!pip install selenium

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\anaconda\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\anaconda\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2023.11.17)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\anaconda\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [ ]:
#to submit the option
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
#location to be used is Delhi/NCR
location=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[2]/div[2]/div/div[13]/div/div[3]/div/p[1]")
location.click()

In [ ]:
#salary to be used is 3-6 lakhs
salary=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[2]/div[2]/div/div[9]/div/div[2]/div[2]/p[1]")
salary.click()

In [ ]:
#scraping job title
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

    
#scraping job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
#scraping company name
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
#scraping job experience
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

In [ ]:
#Q2) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
#job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

driver=webdriver.Chrome()

In [ ]:
driver.get("https://www.shine.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [ ]:
search=driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
#scraping job title
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

    
#scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
#scraping company name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
#scraping job experience
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"][1]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

In [ ]:
#Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 

driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.flipkart.com/apple-iphone-15-black-128-gb/p/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART&q=iphone+15&store=tyy/4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=organic&iid=b596c120-8114-44e8-9819-0b4dee130fa9.MOBGTAGPTB3VS24W.SEARCH&ppt=hp&ppn=homepage&ssid=s3c8i7dsvk0000001710403029549&qH=2f54b45b321e3')

In [ ]:
phone_rating=[]
phone_summary=[]
phone_fullReview=[]

In [ ]:
#to see more reviews hence creating search 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[10]/div[7]/div/a/div/span')
search.click()

In [ ]:
#it will iterate from page 1 to page 10
start=0
end=10
for page in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating[0:100]:
        phone_rating.append(i.text)
        
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary[0:100]:
        phone_summary.append(i.text)
        
    fullReview=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullReview[0:100]:
        phone_fullReview.append(i.text)    
    
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button[0].click()
    time.sleep(3)

In [ ]:
print(len(phone_rating),len(phone_summary),len(phone_fullReview))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Rating':phone_rating,'Summary':phone_summary,'fullReview':phone_fullReview})
df

In [ ]:
#Q4 Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” in the search
#field.You have to scrape 3 attributes of each sneaker:
#1. Brand, 2. Product Description, 3. Price

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
sch=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
sch.send_keys('Sneakers')

In [ ]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [ ]:
product_brand=[]
product_description=[]
product_price=[]

In [ ]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand[0:100]:
        product_brand.append(i.text)
        
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description[0:100]:
        product_description.append(i.text)
        
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price[0:100]:
        product_price.append(i.text)    
    
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button[0].click()
    time.sleep(3)

In [ ]:
print(len(product_brand),len(product_description),len(product_price))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Brand':product_brand,'Description':product_description,'Price':product_price})
df

In [ ]:
#Q5)Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
#Type filter to “Intel Core i7”

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.amazon.in/')

In [ ]:
products=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
products.send_keys('Laptop')

In [ ]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [ ]:
cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[9]/li/span/a/div')
cpu.click()

In [ ]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [ ]:
title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[0:10]:
    laptop_title.append(i.text)
        
rating=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in rating[0:10]:
    laptop_rating.append(i.text)
        
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price[0:10]:
    laptop_price.append(i.text)

In [ ]:
print(len(laptop_title),len(laptop_rating),len(laptop_price))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Title':laptop_title,'Rating':laptop_rating,'Price':laptop_price})
df

In [3]:
#Q6)Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:
#1. First get the webpagehttps://www.azquotes.com/, 2. Click on TopQuote, 3. Than scrap a)Quote b) Author c) Type Of Quotes

driver=webdriver.Chrome()

In [4]:
driver.get('https://www.azquotes.com/')

In [5]:
quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quotes.click()

In [6]:
name_quote=[]
name_author=[]
types_quote=[]

In [12]:
start=0
end=10
for page in range(start,end):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        name_quote.append(i.text)
        
    author=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
    for i in author:
        name_author.append(i.text)
        
    tq=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in tq:
        types_quote.append(i.text)    
    
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
    next_button[0].click()
    time.sleep(2)

AttributeError: 'list' object has no attribute 'click'

In [13]:
print(len(name_quote),len(name_author),len(types_quote))

1000 1000 1000

In [15]:
import pandas as pd
df=pd.DataFrame({'Quote':name_quote,'Author':name_author,'Types':types_quote})
df

,Quote,Author,Types
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [17]:
#Q7)Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
#Born-Dead, Term of office, Remarks)
driver=webdriver.Chrome()

In [18]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1')

In [53]:
data = []
table= driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[8]/div/table/tbody')
rows=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[8]/div/table/tbody/tr')
for row in rows:
    columns = row.find_elements(By.TAG_NAME, 'tr')
    name = columns[0].text
    born_dead = columns[1].text
    term_of_office = columns[2].text
    remarks = columns[3].text
    data.append([name, born_dead, term_of_office, remarks])

IndexError: list index out of range

In [54]:
import pandas as pd
df = pd.DataFrame(data, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])
df

Empty DataFrame
Columns: [Name, Born-Dead, Term of Office, Remarks]
Index: []

In [55]:
#Q8)Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) 
#This task will be done in following steps:
#1. First get the webpage https://www.motor1.com/
#2. Then You have to type in the search bar ’50 most expensive cars’
#3. Then click on 50 most expensive carsin the world..
#4. Then scrap thementioned data and make the dataframe

driver=webdriver.Chrome()

In [56]:
driver.get('https://www.motor1.com/')

In [60]:
cars=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
cars.send_keys('50 most expensive cars')

In [61]:
search=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [63]:
expcars=driver.find_element(By.XPATH,'//div[@class="text-box"]/h3/a')
expcars.click()

In [66]:
car_name=[]
car_price=[]

In [74]:
name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name:
    car_name.append(i.text)

In [77]:
print(len(car_name))

204

In [76]:
import pandas as pd
df=pd.DataFrame({'Name':car_name})
df

                                   Name
0                   Aston Martin Valour
1                          McLaren Elva
2                           Czinger 21C
3                         Ferrari Monza
4                    Gordon Murray T.33
..                                  ...
199                Rolls-Royce Sweptail
200            Bugatti La Voiture Noire
201              Rolls-Royce Boat Tail*
202  Rolls-Royce La Rose Noire Droptail
203    Most Expensive Cars In The World

[204 rows x 1 columns]